.count {
	display: flex;
	align-items: center;
	background-color: hsl(0, 0%, 94%);
	border-radius: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 10px;
    width: 40%;
}