@import './styles/colors';
@import './styles/_resets';
@import './styles/_variables';
@import './styles/mixins';

.ant-btn {
    margin: 0px 5px 0px 4px;
    margin-bottom: -2px;
    margin-top: 5px;
}

/* Editing */
.app-main-note-edit {
    padding: 0px;
  }
  
  .app-main-note-edit input,
  textarea {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    height: calc(30vh - 130px);
    padding: 5px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
  }
  .app-main-note-edit input {
    height: 45px;
    font-size: 2rem;
  }

  .dark {
      --app-color-background: rgb(32,32,32);
      --app-color-background-transparent: rgba(40,40,40,0.9);
      --app-color-background-highlight: rgb(0,88,208);
  
      //--app-color-border: rgb(45,45,45);
     --app-color-border: rgb(176,5,5);
  
      --app-color-text-primary: rgb(223,223,223);
      --app-color-text-primary-highlight: rgb(223,223,223);
      --app-color-text-secondary: rgb(120,120,120);
      --app-color-text-secondary-highlight: rgba(255,255,255,0.6);
      //background-color: #222736;
      background-color: #010511;
      //color: #eff2f7,
     //header-footer: #36394c,
      color: #7c7c7c;
  }
  .dark input {
    //color: #36394c;
    //color: #1890ff;
    color: #ff4d4f;
    background-color: #010511;
  }

  .dark .path {
    stroke: #1890ff;
    stroke-width: 3px;
}

.dark .count {
    background-color: #222736;
}
  .dark .edgePath {
    stroke: #1890ff;
    stroke-width: 3px;
}
  .dark textarea {
    color: #f0f0f0;
    background-color: #010511;
  }
  .dark h1 {
    color: #52c41a;
  }

 .dark h2 {
    color: #f0f0f0;
  }
  .dark h3 {
    color: #ff7875;
  }
  .dark h4 {
    color: #1890ff;
  }

  .dark h5 {
    color: #d8ff18;
  }

  .dark h6 {
    color: #d9d9d9;
  }

  .dark .ant-btn-text {
    color: #faad14;
    }

  .light {
    --app-color-background: rgb(255,255,255);
    --app-color-background-transparent: rgba(251,251,251,0.9);
    --app-color-background-highlight: rgb(0,88,208);
  
    --app-color-border: rgb(218,218,218);
  
    --app-color-text-primary: rgb(0,0,0);
    --app-color-text-primary-highlight: rgb(223,223,223);  
    --app-color-text-secondary: rgb(142,141,146);
    --app-color-text-secondary-highlight: rgba(255,255,255,0.6);
  }

